# SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

#
# Require a .env file contains all environment vars
# look contents of file _dot.env.example
#
services:
  journey-v2:
    ports:
      - "8081:80"
    build:
      context: ./
      dockerfile: infrastructure/docker/journey-v2/Dockerfile
    depends_on:
     - otp
     - charger
     - carsharing-cron

  charger:
    ports:
      - "8093:8093"
    build:
      context: ./
      dockerfile: infrastructure/docker/charger/Dockerfile

  gbfs:
      ports:
        - "8089:8089"
      build:
        context: ./
        dockerfile: infrastructure/docker/gbfs/Dockerfile

  otp:
    ports:
      - "8080:8080"
    build:
      context: ./
      dockerfile: infrastructure/docker/otp/Dockerfile
    depends_on:
      - amarillo
      - gbfs
      - charger
      - carsharing-cron
  
  amarillo:
    build:
      context: ./
      dockerfile: infrastructure/docker/amarillo/Dockerfile
    environment:
      - AMARILLO_BASEURL=${AMARILLO_BASEURL:?missing/empty}
      - ADMIN_TOKEN=${ADMIN_TOKEN:?missing/empty}
    ports:
      - 9095:80
    volumes:
      - /opt/odh-mentor-otp/amarillo/:/app/data/
      # Assumption: latestGTFS.zip is in /opt/otp-mentor-otp (?)
      - /opt/odh-mentor-otp/:/data/
      
    depends_on:
      - graphhopper

  graphhopper:
    container_name: graphhopper 
    image: israelhikingmap/graphhopper:8.0
    command: --host 0.0.0.0 --url https://download.geofabrik.de/europe/italy/nord-est-latest.osm.pbf
    environment:
      - JAVA_OPTS=-Xmx4g
    volumes:
      - graphhopper:/data/
  
  carsharing-cron:
    container_name: carsharing-cron
    build:
      context: ./
      dockerfile: infrastructure/docker/carsharing/Dockerfile
    restart: unless-stopped
    volumes:
       - carsharing-gbfs:/app/out

  carsharing-ngnix:
    container_name: carsharing-ngnix
    ports:
      - "8091:80"
    image: nginx:1.25.4-alpine
    volumes:
       - carsharing-gbfs:/usr/share/nginx/html

volumes:
  carsharing-gbfs:
  graphhopper: