version: "3.4"

services:
  otp:
    image: ${DOCKER_IMAGE_OTP}:${DOCKER_TAG}
    build:
      context: ../
      dockerfile: infrastructure/docker/otp/Dockerfile
  journey-v2:
    image: ${DOCKER_IMAGE_JOURNEY_V2}:${DOCKER_TAG}
    build:
      context: ../
      dockerfile: infrastructure/docker/journey-v2/Dockerfile
  gbfs:
    image: ${DOCKER_IMAGE_GBFS}:${DOCKER_TAG}
    build:
      context: ../
      dockerfile: infrastructure/docker/gbfs/Dockerfile
  charger:
    image: ${DOCKER_IMAGE_ECHARGING}:${DOCKER_TAG}
    build:
      context: ../
      dockerfile: infrastructure/docker/charger/Dockerfile
  amarillo:
    image: ${DOCKER_IMAGE_AMARILLO}:${DOCKER_TAG}
    build:
      context: ../
      dockerfile: infrastructure/docker/amarillo/Dockerfile
  carsharing:
    image: ${DOCKER_IMAGE_CARSHARING}:${DOCKER_TAG}
    build:
      context: ../
      dockerfile: infrastructure/docker/carsharing/Dockerfile
      args:
        - CARSHARING_BASEURL=${CARSHARING_BASEURL}