services:
  journey-v2:
    image: ${DOCKER_IMAGE_JOURNEY_V2}:${DOCKER_TAG}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - ${SERVER_PORT_JOURNEY_V2}:80

  otp:
    image: ${DOCKER_IMAGE_OTP}:${DOCKER_TAG}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - ${SERVER_PORT_OTP}:8080
    depends_on:
    #  - geocoder
     - amarillo
    #  - parking
     - charger
     - carsharing-cron
    #  - traffic
    #  - drt
  
  gbfs:
    image: ${DOCKER_IMAGE_GBFS}:${DOCKER_TAG}
    restart: unless-stopped
    ports:
     - ${DOCKER_GBFS_PORT}:8089

  charger:
    image: ${DOCKER_IMAGE_ECHARGING}:${DOCKER_TAG}
    restart: unless-stopped
    ports:
      - ${DOCKER_ECHARGING_PORT}:8093

  amarillo:
    # image: ${DOCKER_IMAGE_AMARILLO}:${DOCKER_TAG}
    image: ${DOCKER_IMAGE_AMARILLO}:b533c53c9e7542a6108934e7417460221287432c-test
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - ${DOCKER_AMARILLO_PORT}:80
    volumes:
      - amarillo:/app/data/
    depends_on:
      graphhopper:
        condition: service_healthy

  graphhopper:
    image: israelhikingmap/graphhopper:8.0
    # If OSM file is older than 30 days, download a new version before starting
    # command: --host 0.0.0.0 -o /data/default-gh/ --url https://download.geofabrik.de/europe/italy/nord-est-latest.osm.pbf
    entrypoint: |
      sh -c "
      FILE=/data/nord_est_latest.osm.pbf
      if [ ! -f $$FILE ] || [ $$(find $$FILE -mtime +30 | wc -l) -eq 1 ]; then
        echo 'Downloading new file...'
        wget -q https://download.geofabrik.de/europe/italy/nord-est-latest.osm.pbf -O $$FILE
      fi
      exec ./graphhopper.sh -c config-example.yml --host 0.0.0.0 -i $$FILE
      "
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8989/health"]
      interval: 10s
      timeout: 3s
      # the .pdf download is very slow sometimes
      # start_period: 1000s
    environment:
      - JAVA_OPTS=-Xmx4g
    volumes:
      - graphhopper:/data/

  carsharing-cron:
    image: ${DOCKER_IMAGE_CARSHARING}:${DOCKER_TAG}
    restart: unless-stopped
    volumes:
       - carsharing-gbfs:/app/out
    env_file:
      - .env

  carsharing-nginx:
    image: nginx:1.25.4-alpine
    restart: unless-stopped
    volumes:
       - carsharing-gbfs:/usr/share/nginx/html
    ports:
      - "${DOCKER_CARSHARING_PORT}:80"

volumes:
  carsharing-gbfs:
  amarillo:
  graphhopper: